<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <title>ticket-vue2</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ticket-vue2 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
      <section class="section">
        <div class="container">
          <div id="app"></div>
        </div>
      </section>
    <!-- built files will be auto injected -->
  </body>
</html>
