<template>
    <div class="box">
        <h3 class="title">App : {{movieId}}</h3>
        <Movie @selectMovie="handlerSelected" :movieId="movieId"> </Movie>
        <Seat 
        :movieName="movieId"
        @selectSeat="handerSeat"
        :seated="selectedSeat"
        :firebaseSeat="firebaseSeated"
        >
        </Seat>
        <h6> count: {{status.count}} <br> price : {{status.price}} </h6>
    </div>
</template>

<script>
import Movie from './Movie.vue'
import Seat from './Seat.vue'
import firebase from 'firebase'
import {pushToArray} from '../others/lib'
import _ from 'lodash'

const config = {
    databaseURL: "https://vueticket.firebaseio.com"
}
firebase.initializeApp(config);

const db = firebase.database()


export default {
    components:{
        Movie,
        Seat
    },
    data(){
        return {
            movieId:"",
            selectedSeat:[],
            status : {
                count:0,
                price:0
            },
            firebaseSeated: []
        }
    },
    methods: {
        handlerSelected(id){
            if(this.status.count != 0 )
             if(confirm('Change ?')){
                 this.status = {
                     count:0,
                     price:0
                 }
                 this.selectedSeat =[]
             } else {
                 return false
             }
            this.movieId = id
            const movieRef = db.ref().child(this.movieId)
            movieRef.on('value', snapShot => {
                 const seats = snapShot.val()
                 this.firebaseSeated=[]
                 _.forOwn(seats,s => {
                     pushToArray(s,this.firebaseSeated)
                 })
            })
        },
        handerSeat(seat){
            pushToArray(seat,this.selectedSeat)
            const movieRef = db.ref().child(this.movieId)
            movieRef.push(seat)
            this.status = this.selectedSeat.reduce((sum,s) => {
                sum.count++
                sum.price += s.price
                return sum
            },{
               count:0,
               price:0 
            })
        }
    }
}

</script>



