<template>
    <div class="box">
        <h3 class="title">Movie</h3>
        <div class="columns">
            <div v-for="movie in movies.movies" 
                :class="className(movie.id)"
               :key="movie.id"
            >
              <figure class="image" @click="selectMovie(movie.id)">
                <img :src="movie.where" :alt="movie.id">
              </figure>
             </div>
        </div>
    </div>
</template>

<script>
import { movies } from '../others/movie.js'
    

export default {
 props:['movieId'],
 data(){
     return  {movies}
 },
 methods:{
     selectMovie(id){
         this.$emit('selectMovie',id)
     },
     className(movieId){
         return ['column','pointer',{
             'chosen': this.movieId == movieId
         }]
     }
  },
  mounted() {
      this.selectMovie(this.movies.movies[0].id)
  }
}

</script>

<style>
 .pointer {
     cursor: pointer;
 }

 .chosen {
     border-style: solid;
     border-color: saddlebrown

 }
</style>

