<template>
    <div class="box">
        <span v-for="s in seats" 
        :key="s.id"
        > 
            <button :class="className(s)"
             :disabled="s.seated == 'false'"
             @click="selectSeat(s)"
            >
                {{s.id}} | {{s.price}}
                </button>
            <span>&nbsp; </span> 

        </span>
    </div>
</template>

<script>
import {movies} from '../others/movie'

export default {
    props:['movieName',"seated",'firebaseSeat'],
    computed:{
        seats(){
            return movies[this.movieName]
        }
    },
    methods: {
        className(seated){
            const ids = this.seated.map( s => s.id)
            const idx = ids.indexOf(seated.id)

            const fIds = this.firebaseSeat.map( s=>s.id)
            const fIdx = fIds.indexOf(seated.id)
            const check = seated.seated == 'false' ? 'is-danger' : ''
            return [
                'button',
                check,
                {'is-primary': idx !==-1,
                 'is-warning': fIdx !==-1 && idx === -1
                }
            ]
        },

        selectSeat(seat){
            this.$emit('selectSeat',seat)
        }
    }
}
</script>

<style>
 .selected{

 }
</style>

